body {
    margin: 0;
    font-family: sans-serif;    
}
.btn {
    background: #FFF;
    border: 2px solid #000;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 20px;
    padding: 5px 16px;
    }
.back {
    background-image: url(./assets/back.jpeg);

    }
